.Header {
  margin: 20px auto;
  max-width: 600px;
  font-size: calc(10px + 1.5vmin);
}

.ScanList {
  font-size: calc(10px + 1vmin);
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.2),0px 1px 1px 0px rgba(255,255,255,0.14),0px 2px 1px -1px rgba(255,255,255,0.12);
}

.ScanListHeader {
  width: 100%;
  color: #fff;
}

.ScanListControllers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #50555c;
}

.ScanListAddIcon {
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ScanListHeaderName {
  font-size: calc(10px + 1.5vmin);
  letter-spacing: 0.00938em;
  font-weight: 400;
}

.ScanListHeaderElevation {
  font-size: calc(10px + 0.5vmin);
  color: #bdbdbd;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  margin-left: 1vmin;
}

.ScanListHeaderUsername {
  font-size: calc(10px + 0.5vmin);
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  padding-left: 10px;
}

.ScanListSortOrderIcon {
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
